---
import data from "../../public/data.json"
import Hero from "../components/Hero.astro";
import Links from "../components/Links.astro";
import Layout from "../layouts/Layout.astro"

const links = [
    {name:"exam-detail", to:"#exam-detail"},
    {name:"Overview", to:"#overview"},
    {name:"Super Coaching", to:"#supercourse"},
    {name:"Quizzes", to:"#quizes"},
    {name:"Test Series", to:"#test-series"},
    {name:"Exam Info", to:"#exam-info"}, 
]
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Exam</title>
	</head>
	<body>
		<Layout title="Exam" description="Welcome to the world of exams preparation." />
		<Hero />
        <Links />
        

	</body>

</html>
