---
import Image from "astro/components/Image.astro";
---

<section
  style={{backgroundImage: 'linear-gradient(to bottom, #fff 0%, #f0f7ff 100%)'}}
  class="bg-gradient-to-b from-white to-f0f7ff flex w-full mt-12 md:mt-24 py-5 justify-center">
    <div class="container mx-auto px-4 md:w-10/12 grid grid-cols-1 md:grid-cols-3 py-5">

      <div class="hidden md:flex col-span-1  justify-end">
        <div class="flex w-full items-center justify-center">
          <Image src="/images/student-img.jpg" alt="Image Description" width={300} height={300} />

          <!-- <img src="/images/student-img.jpg" alt="Student" class="max-h-84 w-10/12" /> -->
        </div>
      </div>

      <div class="md:col-span-2 flex justify-center p-2 md:p-5 col-span-1">
        <div class="flex flex-col md:gap-8 gap-5 p-3 w-full h-full items-start justify-center">
          <h2 class="font-semibold text-base lg:text-3xl md:text-2xl">One Destination for Complete Exam Preparation</h2>
          <p class="text-sm text-gray-800 md:text-base">Welcome to SarkariPaper.in - your one-stop destination for all things Sarkari Result, Sarkari 
            Exam, and Sarkari Naukri, where we provide you with the latest updates on top government jobs.
             Are you on the lookout for the most recent job opportunities, online forms, exam results, answer keys, 
             syllabus details, admit cards, admission forms, and scholarship information? Look no further! SarkariPaper.in has got you covered. </p>
          <!-- <div class="flex flex-wrap justify-start md:w-full gap-5">
            <button class="bg-teal-500 hover:bg-teal-600 transform transition-transform duration-300 hover:scale-110 text-xs md:text-sm text-white px-5 py-3 rounded-lg">Get Started For Free</button>
            <button class="bg-teal-500 hover:bg-teal-600 transform transition-transform duration-300 hover:scale-110 text-xs md:text-sm text-white px-5 py-3 rounded-lg">Become a member</button>
          </div> -->
        </div>
      </div>

      <div class="col-span-1 md:hidden flex justify-end">
        <div class="flex w-full items-center justify-center">
          <Image src="/images/student-img.jpg" alt="Image Description" width={300} height={300} />
          <!-- <img src="/images/student-img.jpg" alt="Student" class="max-h-48" /> -->
        </div>
      </div>
    </div>
  </section>