<div class="col-span-12 bg-gray-50 md:col-span-6 lg:col-span-6">
    <div class="h-full border rounded-lg border-gray-100">
      <div class="p-4 flex flex-col gap-3 items-start text-start">
        <h4 class="text-lg font-semibold">BPSC TRE Exam Date 2024 Out; Download Shift Schedule, Timings</h4>
        <p class="text-sm text-wrap">BPSC TRE 3.0 exam schedule has been released on the official website of BPSC on February 29, 2024. BPSC TRE 3.0 is scheduled to be held on March 15 & ...</p>
        <a class="text-blue-600 font-semibold break-all" href="#">Read more</a>
      </div>
    </div>
  </div>
  